*{
    margin:0px;
    padding: 0px;
}
header{
    overflow: hidden;
    background-color: rgb(226, 49, 143);
    padding: 20px;
    width: 100vw;
}
.logo{
    float: left;
    overflow: hidden;
    width: 40vw;

}
.logo img{
    height: 60px;
    width: 70px;
    padding-left: 16px;
}
.login .login-button{
    border: none;
    background-color: blueviolet;
    padding: 16px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px 15px 0px 15px;
    float: right;

}
.login .login-button:hover{
    cursor: pointer;
    background-color: brown;
}
.nav{
    overflow: hidden;
}

.carrinho{
    float: left;
    width: 20%;
}


.login{
    float: left;
    width: 20%;
}


.container02 .itens{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.466);
    margin: 10px;
    width: 300px;
    height: 300px;
}
.container02{
    height: 100vh;
    text-align: center;
}
.container02 .itens .img{
    position: relative;

}
.container02 .itens .img img{
    position: absolute;
}