<h2>List Users</h2>

<table class="table table-dark table-hover">
  
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Login</th>
      <th scope="col">E-mail</th>
      <th scope="col">Password</th>
      <th scope="col"></th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let p of professores">
      <th scope="row">{{p._id}}</th>
      <td>{{p.nome}}</td>
      <td>{{p.titulacao}}</td>
      <td>{{p.salario}}</td>
      
      <td align="right">
        <button class="btn btn-primary" (click)="editar(p._id)">Editar</button>
        <button class="btn btn-danger ml-3" (click)="deletar(p._id)">Deletar</button>
      </td>
    </tr>
  </tbody>

</table>
