*{
    margin: 0px;
    padding: 0px;;
}


.logo-superior{
    text-align: center;
    background-color: rgb(153, 13, 146);
    background-image: url(/Trabalho01/img/ufc.png);
    background-size: 100%;

}

.barra-superior{
    overflow: hidden;
    background-color:  rgb(153, 13, 146);
    border-top-color:#14BFD6;
    border-top-style: solid;
    border-top-width: 2px; 
    
    

}
.barra-superior ul{
    list-style-type: none;
    
    
}

.barra-superior > ul > li > .dropdown{
    float: left;
    
   
   

}
.barra-superior ul li a{
    text-decoration: none;
    display: block;

}
.dropdown{
    float: left;
}


.dropdown-content li{
    width: 95px;
    text-align: center;
}

.dropdown-content > ul > li > a{
    text-align: center;
    list-style-type: none;
    display: block;
    padding: 16px;
    background-color:  rgb(13, 153, 36);
    color:white;  
    
}


.dropdown-content > ul > li > a:hover{
    background-color: rgb(221, 20, 54);
    color:white;

}


.dropdown .dropdown-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 16px;    
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



.dropdown .dropdown-button:hover{
    background-color: rgb(255, 255, 255);
    color:#f01515; 

}

.dropdown ul{
    list-style-type: none;
}


.dropdown .dropdown-content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    max-height: 0px;
    position: absolute;
    overflow: hidden;
    transition: max-height 500ms;
    
    
    
}
.dropdown:hover .dropdown-content{
    
    max-height: 300px;
    
    
}


.barra-lateral ul{
    list-style-type: none;
}
.barra-lateral li{
    text-align: center;
}

.barra-lateral ul li a{
    text-decoration: none;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.barra-lateral ul li a:hover{
    background-color: #f01515;
    color: white;
    transition: 400ms;
}


.barra-lateral {
    overflow: hidden;
    border-right-color: #374B70;
    box-shadow: 1px 1px 12px #CBCBCB;
    
    float: left;
    color: #f01515;
    height: 150vh;
    width: 300px;
}

.barra-lateral  h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 16px;
    
}
/* Barra Lateral a esquerda */
.barra-lateral-right{
    float: right;
    overflow: hidden;
    box-shadow: 1px 1px 12px #CBCBCB;
    height: 150vh;
    width: 300px;
    background-image: linear-gradient(white,#15f0f0);
    position: relative;
}

.barra-lateral-right .logo-eu{
    border-radius: 50%; 
    width: 100px; 
    height:100px;
    object-position: center;  
}

.barra-lateral-right h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px;
    text-align: center;
    color: #f01515;
}
.barra-lateral-right p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: blue;
    padding: 16px;
    
}

.corpo-da-pagina h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f01515;
    padding-top: 16px;
    
}

.conteudo{
    float: left;
    animation: imagem 5s infinite;
    
}
.conteudo > h1{
    text-align: center;
    margin: auto;
    width: 50%;
    color:white;
    background-color: #14BFD6;
    animation: mover 3s infinite;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

.enviar-botao{
    padding: 6px 12px;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}
.enviar-botao:hover .enviar-botao:active{
    background-color: white;
    border-color:#f01515;
    transition: max-height 500ms;
}

.conteudo{
    display: block;
    width: 300px;
    height: 100vh;
    text-align: center;
    position: relative;
    max-width: auto;
    min-width: auto;
    padding-left: 10px;
    padding-top: 100px;
    
}
/* Animação da Imagem */
@keyframes imagem{
    0%   {top: 0px;}
    25%  {top: 200px;}
    50%  {top: 100px;}
    75%  {top: 200px;}
    100% {top: 0px;}

}
/* Animaçao do H1 de Conteúdo */
@keyframes mover{
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: yellow;}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
}


@media only screen and(max-width:479px){
    .barra-lateral{
        background-color: red;
    }
}

.botaopesquisar{
    border-radius: 05%;
    background-color:  rgb(153, 13, 146);
    border:none;
    padding: 16px;
    color: white;
    text-align: center;
    width: 100px;
    line-height: 10px;
    font-size: 16px;
    
}

.corpoRadio{
    background-image: url(/Trabalho01/img/ufc.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(/Trabalho01/img/ufc.jpeg);
    


}
body > h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    
}

body > input{
    border: none;
    align-content: center;
    color:  rgb(153, 13, 146);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 0 10px;
    border-bottom: 1px solid  rgb(153, 13, 146);
    border-radius: 10px;
    padding: 20px;
    line-height: normal;
    
}

.formulario{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    float: auto;
    padding-top: 200px;
    background-color:#f01515;
    padding: 16px;
    float: left;

}
.formulario >input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:none;
    border-bottom: 1px solid #f01515;
    padding: 20px;

}
.formulario > .botao{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-bottom:1px solid #14BFD6;
    border: none;
    color: white;
    
}

@media screen and ( max-width: 600px){
    
    .barra-superior > ul > li > .dropdown-button{
        display: block;
    
    }
   
    .dropdown{
        float: left;
    }
    .dropdown-content > ul > li > a, .dropdown .dropdown-button{
        
        display: block;
        padding: 16px;
        text-align: center;
    }

    .dropdown .dropdown-content{
        overflow: hidden;
        max-height: 0px;
        transition: max-heigth 3s;
    }

    .dropdown:hover .dropdown-content{
        max-height: 700px;
        
    }


}
