*{
    margin: 0px;
    padding: 0px;
}

.barra-superior{
    overflow: hidden;
    background-color: #158edf;
    border-bottom:rgb(8, 151, 235);
    border-bottom-style: solid;
    border-bottom-width: 6px; 
}
.barra-superior ul{
    list-style-type: none;

}

.barra-lateral{
    float: left;
}

.dropdown{
    float: left;
}

.dropdown-content > ul > li > a{
    text-align: center;
    list-style-type: none;
    display: block;
    padding: 16px;
    background-color: blueviolet;
    color: white;

}